
@import "~normalize.css";
@import "font-awesome.min.css";
@import "fonts.css";






html {
  line-height: 1;
  font-size: 10px;
}
html,
body {
  width: 100%;
  height: 100%;

}
body {
  min-height: 100%;
  font-family: "TitilliumWeb", sans-serif;
  background: url(img/content/backgroud-img.jpg) no-repeat;
  background-size: cover;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0,0,0,.4);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'TitilliumWeb', sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
textarea {
  resize: none;
}
section {
  position: relative;
}
h2 {
  text-align: center;
}
input,
select,
button {
  outline: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.hide {
  display: none;
}
.show {
  display: block;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


.container {
  width: 100%;
  width: 1170px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}




/* popup */
header{
  height: 100%;
}
.header-wrap{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  /* display: none; */
}
label{
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
input:focus{
  border: 2px solid rgb(235, 125, 75);
}


input{
  border-radius: 2px;
  border: 2px solid rgb(200, 198, 198);
  background-color: #fff;
  font-size: 2rem;
  font-style: italic;
  color: rgb(124, 124, 124);
  line-height: 1.2;
  text-align: left;
  width: 400px;
  height: 36px;
  padding: 1px 15px 4px;
  margin-bottom: 30px;
  transition: all .25s ease;
}

.btn-start{
  margin-top: 30px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.125;
  transition: all .25s ease;
  text-align: center;
  line-height: 70px;
  border-radius: 4px;
  width: 293px;
  height: 70px;
  border-bottom: 4px solid;
  transition: all .25s ease;
  background-color: rgb(235, 125, 75);
  border-bottom-color: rgb(200, 106, 64);
  font-style: normal;
}

.btn-start:hover{
  cursor: pointer;
  background-color: rgb(23,194,164);
  border-color: rgb(20,165,140);
}

.magics-popup-heading{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.magics-text{
  margin-bottom: 40px;
}
.magics-text:last-child{
  margin-bottom: 0;
}
.magics-item{
  min-width: 150px;
  padding: 5px;
  display: inline-block;
  margin-right: 150px;
  border-radius: 6px;
  transition: all .25s ease;
  border: 3px solid rgb(231,241,248);
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,.4);
  position: relative;
}

.magics-item__mask{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.magics-item.--damage{
  background-color: rgb(235, 125, 75);

}

.magics-item.--helth{

  background-color: rgb(23,194,164);
}

.magics-item:hover{
  background-color: #fff;
  box-shadow: 3px 2px 16px 2px rgba(0,0,0,.4);
  transform: scale(1.05);
  cursor: pointer;
}

.magics-item:last-child{
  margin-right: 0;
}
.magics-popup{
  padding-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  background-color: rgb(150,192,194);
  text-align: center;
  box-shadow: 3px 2px 16px 2px rgba(0,0,0,.4);
  border-radius: 3px;
  z-index: 11;
}
.magics-item-title{
  font-size: 2rem;
  margin-bottom: 10px;
}
.magics-item__img img{
  height: 120px;
  border-radius: 50%;
  border: 2px solid #333;
}

.magics-item-descr{
  margin-top: 5px;
  font-size: 1.6em;
}


.translation-popup,
.create-word-popup,
.speech-popup,
.calculation-popup{
  padding-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  text-align: center;
  box-shadow: 3px 2px 16px 2px rgba(0,0,0,.4);
  border-radius: 3px;
  z-index: 11;
}

.translation-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.popup__button-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  line-height: 28px;
  border-radius: 2px;
  transition: all .25s ease;
}

.popup__button-close:hover{
  cursor: pointer;
  color: rgb(37,108,144);
  background-color: rgba(255,255,255,.6);
  border-color: rgb(37,108,144);
}

.-input-popup{
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #666;
  width: 180px;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,.4);
  line-height: 28px;
  font-size: 20px;
  padding:0 5px;
}



.-submit-popup, .calculation-submit{
  font-style: normal;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 4px;
  width: 293px;
  height: 70px;
  border-bottom: 4px solid;
  transition: all .25s ease;
  background-color: rgb(48,186,231);
  border-color: rgb(41,158,197);
  color: rgb(255,255,255);
  text-align: center;
  line-height: 70px;
  font-size: 2rem;
}

.-submit-popup:hover,
.speech-repeat-btn:hover,
.calculation-submit:hover{
  cursor: pointer;
  box-shadow: 1px 4px 10px 2px rgba(0,0,0,.5);
}

.calculation-popup-text__title,
.speech-wrapper,
.translation-wrapper{
  font-size: 20px;
}

.inptut-filds{
  margin-bottom: 30px;
}

.speech-submit{
  margin-top: 20px;
}

.speech-repeat-btn{
  margin-left: 20px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  color: red;
  transition: all .25s ease;
}

.popups-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 10;
}

/* Sortable task */
.create-word-sortable{
  text-align: center;
  margin-bottom: 20px;
  padding-top: 30px;
}
.create-word-sortable .sortable__letter{
  font-size: 46px;
  border-radius: 3px;
  width: 40px;
  height: 60px;
  line-height: 50px;
  display: inline-block;
  margin-right: 10px;
  background-color: #ddd;
  cursor: pointer;
  transition: all .25s ease;
}

.create-word-sortable .sortable__letter:hover{
  box-shadow: 3px 2px 10px 2px rgba(0,0,0,.4);
}

.create-word-sortable .sortable__letter:last-child{
  margin-right: 0;
}







/* Стили Ильи */

h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.wrapper{
  display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1050px;
    height: 930px;
    z-index: 5;

}
.title{
    height: 50px;
    text-align: center;
}
.title > h1{
    color: white;
}
.healthBar{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(231,241,248);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.firstName, .secondName{
  font-size: 2.2rem;
  color: rgb(60,71,97);
  font-weight: bold;
}
.text-health{
  font-weight: bold;
  color: rgb(152,65,100);
  margin-right: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}
.title-health{
  margin-right: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}
.firstHealth,
.secondHealth{
  margin-top: 15px;
}
.firstHealth{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

progress{
  background-color: #f3f3f3;
  border: 1px solid black;
  height: 2rem;
  border-radius: 4px;
}
progress::-webkit-progress-bar {
  /* стилевые правила */
}
progress::-webkit-progress-value {
  background-color: red;
}

.battlefield {
    height: 680px;
    position: relative;
    overflow: hidden;
}
.footerBar {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgb(23, 194, 164);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@-webkit-keyframes swing
{
  20%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  40%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  50%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
      transform: rotateZ(3deg);
  }
  65%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  80%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
      transform: rotateZ(-2deg);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

@-webkit-keyframes swing-enemy
{
  20%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  40%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  50%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transform: rotateZ(-3deg);
  }
  65%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  80%
  {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
      transform: rotateZ(2deg);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

.mainCharacter{
  -webkit-animation: swing 4s ease;
  animation: swing 4s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: 270px;
  left: 10px;
}
.firstPlayer {
    margin-left: 20px;
    font-size: 2rem;

  }
.secondPlayer {
    margin-right: 20px;
    font-size: 2rem;
}

.castSpell{
  text-transform: uppercase;
  border-radius: 4px;
  width: 293px;
  height: 70px;
  border-bottom: 4px solid;
  transition: all .25s ease;
  background-color: rgb(48,186,231);
  border-color: rgb(41,158,197);
  color: rgb(255,255,255);
  text-align: center;
  line-height: 70px;
  font-size: 2rem;
}

.castSpell:hover{
  cursor: pointer;
  box-shadow: 1px 4px 10px 2px rgba(0,0,0,.5);
}

.enemyImg{
  position: absolute;
  top: 270px;
  right: 150px;
}
.enemyImg > img {
  position: absolute;
  -webkit-animation: swing-enemy 4s ease;
  animation: swing-enemy 4s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.enemyImg img:nth-of-type(2){
  top: 95px;
}
.enemyImg img:nth-of-type(3){
  top: 195px;
}

.turn {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.turns, .true{
    text-align: center;
}

.true{
  margin-top: 20px;
}

@-webkit-keyframes right-round
{
  0%
  {
    width: 50px;
    height: 50px;
    opacity: 0.2;
    left: 5%;
  }

  100%
  {
    width: 250px;
    height: 250px;
    opacity: 0.6;
    left: 120%;
  }
}

@-webkit-keyframes left-round
{
  0%
  {
    width: 50px;
    height: 50px;
    opacity: 0.2;
    left: 88%;
  }

  100%
  {
    width: 250px;
    height: 250px;
    opacity: 0.6;
    left: -40%;
  }
}

@-webkit-keyframes left-round
{
  0%
  {
    width: 50px;
    height: 50px;
    opacity: 0.2;
    left: 88%;
  }

  100%
  {
    width: 250px;
    height: 250px;
    opacity: 0.6;
    left: -40%;
  }
}


@-webkit-keyframes health
{
  0%
  {
    top: 340px;
  }

  100%
  {
    transform: scale(1.5);
    top: -150px;
  }
}

.animation.true.damage{
  position: absolute;
  -webkit-animation: right-round 2s ease;
  animation: right-round 2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  top: 340px;
}

.animation.true.health{
  left: 120px;
}

.animation.health{
  position: absolute;
  -webkit-animation: health 2s ease;
  animation: health 2s ease;
  height: 50px;
  width: 50px;
  background: url(./img/content/heart.png) no-repeat center center;
  background-size: cover;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.animation.false.health{
  left: 88%;
}



.animation.false.damage{
  position: absolute;
  -webkit-animation: left-round 2s ease;
  animation: left-round 2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  top: 340px;
}


.scoreboard {
  position: absolute;
  display: none;
  width: 800px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 9999;
  padding-top: 40px;
  font-size: 2rem;
}

.scoreboard-wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

}

.scoreboard-title{
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(23, 194, 164);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.scoreboard-user-data > div{
  min-width: 50%;
  margin-bottom: 20px;
  text-align: center;
}

.scoreboard-user-data span{
  margin-left: 10px;
  font-weight: bold;
  font-size: 2.5rem;
}
.play-again-btn:hover{
    box-shadow: 1px 4px 10px 2px rgba(0,0,0,.5);
}


.scoreboard-user-data{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.congratulation-popup-text{
  font-size: 2rem;
  margin-top: 70px;
  margin-bottom: 40px;
}

.congratulation-popup-wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.congratulation-popup{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 800px;
  background-color: rgb(150,192,194);
  text-align: center;
  box-shadow: 3px 2px 16px 2px rgba(0,0,0,.4);
  border-radius: 3px;
  z-index: 11;
}
